name: Deploy Jupyter Book to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      # Python is required if you use --execute on notebooks
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Install Python deps (needed for Altair, etc.)
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mystmd jupyterlab_myst altair vega_datasets pandas numpy

      - name: Install Myst
        run: npm install -g mystmd

      - name: Build site
        run: BASE_URL=/surface-book myst build --execute --html

      - name: Debug build output
        run: |
          echo "=== FIND index.html ==="
          find _build -name index.html -maxdepth 3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _build/html



  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}  
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
